.icon {
  display: inline-block;
  margin-left: 10px;
}
:global {
  .App {
    text-align: center;
  }

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }

  .App-intro {
    font-size: large;
  }

  .favorite-icon {
    position: relative;
    top: 4px;
    left: 5px;
  }

}

@keyframes :global(App-logo-spin) {
   from {
     transform: rotate(0deg);
   }
   to {
     transform: rotate(360deg);
   }
 }